<div
    class="image-container"
    >
    <img
        {% if include.src %}
            src="{{ site.baseurl }}/assets/images/{{ include.src }}"
        {% endif %}
        {% if include.url %}
            src="{{ include.url }}"
        {% endif %}
        alt="{{ include.alt }}"
        {% if include.ref %}
            id="figure-{{ include.ref }}"
        {% endif %}
        {% if include.width %}
            style="width: 100%; max-width: {{ include.width }}px"
        {% endif %}
        >
    {% if include.name %}
        <p class="caption">
            {{ include.name }}: {{ include.alt }}
        </p>
    {% endif %}
</div>
